body {
   margin: 0px;
   box-sizing: border-box;
   padding: 0px;
   background-color: cyan;
}

.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS for the gauge container */
.gauge-container {
    width: 368px;
    height: 131px;
    background-color: #ffffff;
    border-radius: 92px;
    position: relative;
    top: 10px;
    right: 650px;
    overflow: hidden;
    margin: 24px auto;
}

/* CSS for the gauge fill */
.gauge-fill {
   position: absolute;
   width: 0;
   height: 100%;
   background-color: rgb(6, 238, 6); /* Change fill color to green */
   transition: width 0.5s ease; /* Animate width change */

}

/* CSS for the gauge value text */
.gauge-value {
   position: absolute;
   font-size: 24px;
   font-weight: bold;
   color: #333;
   top: 71%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* CSS for the gauge label */
.gauge-label {
   text-align: center;
   font-size: 26px;
   position: relative;
   top: -113px;
   right: 650px;
   font-family: sans-serif;
   font-weight: bolder;
}

/* CSS for the gauge container and label wrapper */
.gauge-wrapper {
   text-align: center;
}
